*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;

  font-family: "Cuprum", Arial, sans serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #fff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  height: 320px;
  background-color: #f4f7f9;
}

header a {
  color: #ffffff;
}
.header-top {
  display: flex;
  width: 100%;
  height: 42px;
  margin: 0;
  padding: 0;
  justify-content: center;

  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
}

.logo {
  display: flex;
  width: 220px;
  height: 47px;

  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo img {
  margin: auto;
  margin-bottom: 15px;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header-top form {
  width: 270px;
  height: 42px;
}

.search,
.header-top form {
  color: #ffffff;
  background-color: #293449;
}

.search {
  border: none;
}

.search:hover,
.header-top form:hover,
.bookmarks:hover,
.basket:hover {
  background-color: #212a3a;
}

.search:focus,
.header-top form:focus {
  background-color: #ffffff;
  color: #000000;
}

.bookmarks,
.basket,
.order {
  width: 150px;
  height: 42px;
}

.order {
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.bookmarks:active,
.basket:active,
.order:active {
  color: rgba(255, 255, 255, 0.6);
}

.bookmarks:active,
.basket:active {
  background-color: #161d29;
}

.order:active {
  background-color: #518534;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.header-mid {
  display: flex;
  height: 158px;
  padding-top: 49px;
  padding-bottom: 39px;
}

.description {
  width: 200px;
  margin: 0;
  padding: 0;
  margin-right: 69px;
  margin-left: 51px;

  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color: #ee3643;
}

.header-mid .wrapper {
  width: 270px;
  margin-right: 69px;
}

.phone {
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 0;

  border: solid 3px #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.wrapper .account-container {
  width: 281px;
}

.account-btn,
.name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.private {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.account-btn:hover,
.private:hover {
  color: #ee3643;
}

.account-btn:active,
.name:active,
.private:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation {
  display: flex;
  height: 55px;
  justify-content: center;

  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}

.navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.navigation-list li a {
  display: block;
  height: 55px;
  padding: 20px 31px;
}

.navigation-list a:hover,
.navigation-list a:active {
  background-color: #1d2739;
  box-shadow: 0 4px 0 0 #1d2739;

}

.navigation-list a:active {
  color: rgba(255, 255, 255, 0.5);
}



/*Основние содержание*/

.main-bot {
  display: flex;
  height: 373px;
  justify-content: space-between;
  margin-top: 77px;
  margin-bottom: 86px;

  background-color: #f4f7f9;
}

.main-bot section {
  background-color: #f9f5f0;
}

.main-bot .about {
  width: 519px;
}

.main-bot .contacts {
  width: 300px;
}

.main-bot h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about p {
  font-family: "PTSans", Arial, sans serif;
}

.about ul {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.modal {
  display: none;
}


/*каталог страница*/


.way,
.filter ul {
  list-style: none;
}

.way {
  display: flex;
  justify-content: flex-start;
  height: 59px;
}

.way li {
  margin-right: 17px;
}

.way a,
.filter button {
  font-family: "PTSans", Arial, sans serif;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.perforators h1 {
  height: 89px;
  padding: auto;
  padding-top: 29px;
  padding-left: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-column {
  display: flex;
  flex-direction: column;
}

.filter {
  width: 220px;
  min-height: 746px;
}

.filter fieldset {
  border: none;
}



.filter legend {
  font-family: "PTSans", Arial, sans serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.manufacturer ul,
.supply ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.manufacturer label,
.supply label {
  font-family: "PTSans", Arial, sans serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter button {
  margin-top: 75px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 38px;
  margin-bottom: 20px;

  background-color: #f7f3ec;
}

.sort {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: 139px;

  list-style: none;
}

.catalog {
  width: 700px;
  min-height: 1086px;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  width: 220px;
  height: 318px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;
}


.item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.item:hover .item-action {
  display: block;
}

.item-name {
  font-family: "PTSans", Arial, sans serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}

.old-price,
.price {
  font-family: "PTSans", Arial, sans serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
}

.old-price {
  color: #999999;
  text-decoration: line-through;
}

.price {
  color: #ffffff;

  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  background-size: 141px 38px;
  background-position: center;
}

.buy {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #63a63e;
  box-shadow: 0px 3px 0 0 #367315;
}

.buy:hover {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
  box-shadow: none;
}

.add-bookmark {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #32425c;
  text-transform: uppercase;

  border: 3px solid #63a63e;
}

.add-bookmark:hover {
  border: 3px solid #32425c;
}

.add-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid rgba(50, 66, 92, 0.3);
}

.numbering {
  display: flex;
  justify-content: space-between;
  width: 284px;
  height: 38px;
  margin: 0;
  padding: 0;
  margin-top: 52px;
  list-style: none;
}

.color-container {
  min-height: 261px;
  background-color: #f4f7f9;
}

.about-perforator {
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 70px;
}

.about-perforator h2 {
  margin-top: 0;
  padding: 0;

  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about-perforator p {
  margin-bottom: 0;
  padding: 0;
  font-family: "PTSans", Arial, sans serif;
}

.footer-top{
  height: 193px;
  font-size: 18px;
  background-color: #32425c;
}

.footer-logo {
  width: 220px;
  height: 68px;
  margin: 0;
}

.footer-logo img {
  margin: auto;
  margin-bottom: 25px;
}

.footer-top1,
.footer-top2 {
  display: flex;
  justify-content: space-between;
}

.footer-top1 {
  height: 68px;
}

.footer-navigation,
.footer-info {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-navigation {
  width: 547px;
}

.footer-info {
  width: 527px;
}

.footer-navigation a {
  color: #f1f5f7;
}

.footer-top2 {
  height: 44px;
}

.footer-adress {
  width: 322px;
  height: 44px;
  margin: 0;
  padding: 0;

  color: #f3f7f9;
}

.footer-info a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-info a:hover {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-info a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bot {
  height: 107px;
  background-color: #293449;
}

.footer-bot .container {
  display: flex;
  justify-content: space-between;
  height: 42px;
  padding-top: 35px;
  padding-bottom: 28px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.copyright {
  width: 228px;
  margin: 0;
  padding: 0;
}

.socials {
  width: 135px;
}

.socials a {
  background-color: #212a3a;
}

.socials a:hover,
.socials a:active {
  background-color: #ee3643;
}

.email {
  width: 135px;
  margin: 0;
  padding: 0;
}

.developer {
  width: 96px;
  margin: 0;
  padding: 0;
}

.email a,
.developer a {
  color: #ffd180;
}
.email a:hover,
.developer a:hover {
  text-decoration: underline;
}

.email a:active,
.developer a:active {
  text-decoration: none;
  color: #ee3643;
}









